.container{
    width: 1200px;
    margin: auto;
}
.shop_category_banner{
    display: block;
    margin: 30px auto;
    width: 1200px;
}
.shop_category_index_sort {
    display: flex;
    margin: 0px 32px;
    justify-content: space-between;
    align-items: center;
}
.shop_category_index_sort p span{
    font-weight: 600; 
}
.shop_category_sort{
   padding: 10px 20px;
   border-radius: 40px;
   border: 1px solid #888; 
   cursor: pointer;
}
.shop_category_products {
    margin: 20px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 80px;
}

.shopcategory_loadmore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    width: 200px;
    height: 50px;
    border-radius: 75px;
    background-color: #ededed;
    color: #787878;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}