.cartitem{
    margin: 100px 100px;
}
.cartitem hr{
    height: 1px;
    background-color: #e2e2e2;
    border: 0;
}
.cartitem_format_main {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 75px;
    padding: 20px 0px;
    color: #454545;
    font-size: 18px;
    font-weight: 600;

}
.cartitem_format {
    font-size: 17px;
    font-weight: 500;

}
.carticon_product_icon {
    height: 62px;

}
.remove_icon {
    width: 15px;
    margin: 0 40px;
    cursor: pointer;
}
.cartitems_quantity {
    width: 64px;
    height: 50px;
    border: 2px solid #ebebeb;
    background-color: #ffffff;
}
.cartitems_down {
    display: flex;
    margin: 100px 0px;
}
.cartitems_total{
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-right: 200px;
    gap: 40px;
}
.cartitems_total_item{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}
.cartitems_total button{
    width: 262px;
    height: 58px;
    outline: none;
    border: none;
    background-color: #ff5a5a;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.cartitem_promocode{
    flex: 1;
    font-size: 16px;
    font-weight: 500;
}
.cartitem_promocode p{
    color: #555555;
}
.cartitem_promobox {
    width: 504px;
    margin-top: 15px;
    padding-left: 20px;
    height: 58px;
    background-color: #eaeaea;
}
.cartitem_promobox input{
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    width: 330px;
    height: 48px;
}
.cartitem_promobox button{
    width: 170px;
    height: 58px;
    font-size: 16px;
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
}