.container{
    width: 1200px;
    margin: auto;
}
.offers{
    width: 100%;
    height: 60vh;
    display: flex;
    margin: auto;
    padding: 0px 0px;
    margin-bottom: 150px;
    background:linear-gradient(180deg,#fde1ff 0%,#e1ffea22 60%);
    margin-top: 30px;
}
.offers_left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 120px;
}
.offers_left h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}
.offers_left p{
    color: #171717;
    font-size: 22px;
    font-weight: 600;
}
.offers_left button{
    width: 280px;
    height: 70px;
    border-radius: 35px;
    background-color: #ff4411;
    border: none;
    color: #fff;
    font-size: 32px;
    font-weight: 500;
    margin-top: 30px;
    cursor: pointer;
}
.offers_right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 110px;
}
.offers_right img{
    width: 300px;
}