.container{
    width: 1200px;
    margin: 0 auto;
}
.product_display{
    display: flex;
    margin: 0 0px 40px;
}
.product_display_left {
    display: flex;
    gap: 17px; 
}
.product_display_img_list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.product_display_img_list img{
    height: 113px;
    border-radius: 3px;
}
.product_display_main_img {
    width: 400px;
    height: 500px;

}
.product_display_right {
    margin: 0 40px;
    display: flex;
    flex-direction: column;
}
.product_display_right h1{
    color: #3d3d3d;
    font-size: 30px;
    font-weight: 700;
}
.productdisplay_right_stars{
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 14px;
}
.product_display_right_prices {
    display: flex;
    margin: 10px 0px;
    gap: 20px;
    font-size: 18px;
    font-weight: 700;
}
.product_display_right_prices_old {
    color: #818181;
    text-decoration: line-through;  
}
.product_display_right_prices_new {
    color: #ff4141;  
}
.product_display_right_size h1{
    margin-top: 25px;
    color: #656565;
    font-size: 20px;
    font-weight: 600;
}
.product_display_right_sizes {
    display: flex;
    margin: 13px 0px;
    gap: 20px;
}
.product_display_right_sizes div{
    padding: 12px 20px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
}
.product_display_right button{
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background-color: #ff4141;
    border: none;
    outline: none;
    cursor: pointer;
    height: 48px;
    line-height: 3px;
    border-radius: 3px;
}
.product_display_right_category{
    margin-top: 20px;
}
.product_display_right_category span{
    font-weight: 600;

}